# Urban Demography - Dataset Merge

- Author: Andrew Zimmer 
- Date Created: 2024-11-14 
- Last Edited:  2024-11-14 
- Version: 1.0

Description: 
- This script merges multiple yearly CSV files containing urban demographic data (population by age and sex) into a single file. 
- The data is then pivoted to create a more structured format, with each row representing a unique combination of urban center (ID_UC_G0) and year, and columns representing specific age-sex groups.
- The final merged and pivoted dataset is saved to a CSV file.

Input Files:
- Multiple CSV files in the directory: './01_data/01_urban_agesex_output/02_dynamic_boundaries/' that match the pattern 'population_zonal_stats_*.csv'
- static boundary files are already merged, and are at ./

Output Files:
- './01_data/01_urban_agesex_output/02_dynamic_boundarires/02_merged/merged_population_zonal_stats.csv': Merged and pivoted CSV file.

Steps in Script
- Reads in multiple CSV files from a specified folder.
- Merges them into one DataFrame.
- Pivot the data to create a structured table with sex-age group keys as columns.
- Saves the final dataset to a CSV file.

In [1]:
import os
import pandas as pd

In [24]:
input_folder = '../01_data/01_urban_agesex_output/01_static_boundaries/01_raw'

output_file = '../01_data/01_urban_agesex_output/01_static_boundaries/02_merged/static_boundaries_merged_population_zonal_stats.csv'

In [25]:
# DYNAMIC BOUNDARY FILES ONLY
# # List all CSV files in the input folder
# csv_files = sorted([f for f in os.listdir(input_folder) if f.contains("population_zonal_stats_") and f.endswith(".csv")])

# # Initialize an empty list to store data from each file
# data_frames = []

# # Loop through each CSV file and read it into a DataFrame
# for file in csv_files:
#     file_path = os.path.join(input_folder, file)
#     df = pd.read_csv(file_path)
#     data_frames.append(df)

# # Concatenate all yearly DataFrames into one
# merged_df = pd.concat(data_frames, ignore_index=True)
# merged_df

In [26]:
# STATIC BOUNDARY FILES ONLY
# read the csv into a dataframee
merged_df = pd.read_csv(os.path.join(input_folder, "static_boundaries_population_zonal_stats_allyears.csv"))

In [27]:
# Zero-pad age values to ensure two digits
merged_df['age'] = merged_df['age'].astype(str).str.zfill(2)

# Create a 'key' column combining sex and age for pivoting
merged_df['key'] = merged_df['sex'].str[0] + '_' + merged_df['age']  # 'f_00', 'm_01', etc.

# Pivot the table so each row is an ID_UC_G0-year combination and each column is a sex-age key
pivot_df = merged_df.pivot_table(
    index=['ID_UC_G0', 'year'],
    columns='key',
    values='sum',
    fill_value=0
).reset_index()

# Flatten the column MultiIndex resulting from pivot
pivot_df.columns.name = None  # Remove pivot index name
pivot_df.columns = [col if isinstance(col, str) else col for col in pivot_df.columns]

pivot_df

,ID_UC_G0,year,f_00,f_01,f_05,f_10,f_15,f_20,f_25,f_30,...,m_35,m_40,m_45,m_50,m_55,m_60,m_65,m_70,m_75,m_80
0,4.0,2000,405.537598,1449.473022,1911.421753,2202.497314,1899.286865,1375.843384,1620.346436,1679.381592,...,1623.954224,1271.548096,1148.230591,763.847168,704.976196,508.520874,381.103638,221.381210,127.581169,67.398300
1,4.0,2001,388.214203,1445.518799,1793.382568,2090.650635,1896.937866,1397.760376,1511.245605,1614.958618,...,1611.648438,1272.296143,1133.591797,782.890747,682.015015,513.836121,376.235199,227.758636,128.931900,72.189232
2,4.0,2002,356.174438,1376.175903,1678.321533,1926.586670,1850.975952,1412.641602,1384.213379,1524.123047,...,1566.840210,1261.569092,1084.598145,805.373901,638.226562,516.326477,363.467590,231.297577,126.365288,76.206161
3,4.0,2003,375.103851,1500.086792,1862.544922,2054.859375,2101.829590,1657.091797,1500.743774,1672.365356,...,1771.725098,1462.478027,1209.397949,970.113098,697.817993,605.684326,411.891571,272.459412,145.344513,91.805191
4,4.0,2004,329.090027,1361.422241,1741.795166,1834.498657,1981.215942,1600.691528,1393.284302,1526.346436,...,1662.898438,1409.974121,1139.146118,960.718323,651.504150,585.504150,395.696991,265.062378,141.710510,90.275955
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238366,12546.0,2016,121.708107,525.890869,661.925415,506.700195,1031.755371,1440.201538,1928.383301,1548.404419,...,1452.859131,1330.026367,1235.838379,869.131714,509.624176,425.868347,245.023499,165.091888,125.107300,117.991364
238367,12546.0,2017,120.127640,530.055115,677.075562,516.930054,1032.996094,1381.829346,1872.963379,1672.647705,...,1464.623291,1283.369629,1248.774170,920.764526,537.759155,424.872742,270.528625,174.086334,127.415512,125.118896
238368,12546.0,2018,116.514969,524.995605,684.374756,522.175903,1032.785156,1321.691895,1760.619873,1783.002930,...,1483.369629,1219.769897,1236.338379,960.243042,567.517578,415.379150,294.190674,183.416077,128.917114,129.808563
238369,12546.0,2019,114.035942,523.242249,696.778931,533.106750,1047.532227,1285.184326,1659.370361,1880.075562,...,1540.680298,1177.164062,1224.501953,1001.579041,605.769897,414.381958,316.305359,197.973694,133.247238,134.254883
238370,12546.0,2020,112.267014,521.408752,707.694275,545.534790,1065.593994,1259.651367,1574.418701,1928.297852,...,1624.004272,1153.430664,1204.059448,1033.850098,645.242859,423.599854,331.575500,216.986877,140.033081,137.336929

In [28]:
pivot_df.to_csv(output_file, index=False)